{% extends "base.html" %}
{% load static %}

{% block title %}{{ object.username }}: add data{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">

      <h2>{{ object.username }}</h2>
      </div>
  </div>

<div class="row">

  <div class="col-sm-12">
    <form class="form-horizontal" method="post" action="{% url 'generic_data:create' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-primary">Add</button>
      </div>
    </div>
  </form>
  </div>

</div>


</div>
{% endblock content %}
